*{
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;    
}
body{
    margin: auto;
    padding: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin: center;
}
h2{
    font-weight: bolder;
    position: relative;
}
button{
    color: aqua;
}
#submit{
    margin: auto;
    background-color:darkkhaki;
}
